<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<button id="draw">draw</button>

<script type="text/javascript">
    var map,
        startLatLng,
        drawing = false,
        poly,
        markers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.628956, lng: 139.738907},
            zoom: 15,
            draggable: false,
            clickableIcons: false
        });

        for (var i = 0; i < 10000; i++) {
            randomMarker();
        }

        map.addListener('mousedown', startDrawing);
        map.addListener('mousemove', addLatLng);
        map.addListener('mouseup', endDrawing);
    }

    function randomMarker() {
        var lat = 35.0 + Math.random(),
            lng = 139.0 + Math.random(),
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map
            });
        markers.push(marker);
    }

    function startDrawing(event) {
        poly = new google.maps.Polyline({
            strokeColor: '#000000',
            strokeOpacity: 1.0,
            strokeWeight: 3
        });
        poly.setMap(map);
        poly.addListener('mouseup', endDrawing);

        startLatLng = event.latLng;
        var path = poly.getPath();
        path.push(startLatLng);
        drawing = true;
    }
    // Handles click events on a map, and adds a new point to the Polyline.
    function addLatLng(event) {
        if (drawing) {
            var path = poly.getPath();
            path.push(event.latLng);
        }
    }
    function endDrawing(event) {
        drawing = false;
        var path = poly.getPath();
        path.push(startLatLng);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap" async defer></script>
</body>
</html>
